{% extends "layouts/base.njk" %}

{% block body %}


<div class="moduk-hero">

  <div class="govuk-width-container">
  
    <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
     
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" id="design-and-deliver-great-digital-services-in-defence">Design and build Defence services</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-0">All you need to design, build and run great digital services in Defence.</p>
      </div>

    </div>

  </div>

</div>


<div class="govuk-width-container">


  {# Service standards and guidance #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="service-standards-and-guidance">Service standards and guidance</h2>
        <p class="govuk-body-l govuk-body--secondary">Creating and running Defence services.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">Standards in Defence</a></h3>
        <p class="govuk-body">Check the standards your service needs to follow and how you will be assessed.</p>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">Service Manual</a></h3>
        <p class="govuk-body">Helping you meet service standards and do your role in Defence, including processes and templates.</p>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">MOD.UK Frontend</a></h3>
        <p class="govuk-body">Re-use tried and tested patterns and styles used across Defence.</p>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">Join a community</a></h3>
        <p class="govuk-body">Meet others doing your role and learn how projects in Defence are creating great services.</p>
      </div>

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">


  {# Technology standards and guidance #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="technology-standards-and-guidance">Technology standards and guidance</h2>
        <p class="govuk-body-l govuk-body--secondary">Designing, building and buying technology for government.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">Technology Code of Practice</a></h3>
        <p class="govuk-body">The standard you must meet to get approval to spend money on technology or a service.</p>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">Technology guidance</a></h3>
        <p class="govuk-body">Guidance on accessibility, hosting, networking, open source, procurement, security and more.</p>
      </div>

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">


  {# Platforms and tools #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="get-involved">Platforms and tools</h2>
        <p class="govuk-body-l govuk-body--secondary">Technologies to help you build and run Defence services.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">Defence DevSecOps Service</a></h3>
        <p class="govuk-body">Create and deploy software at pace, at scale and in-line with industry best-practice.</p>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">MODCloud</a></h3>
        <p class="govuk-body">Host platforms for applications, data and other capabilities in an accredited and supported way.</p>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">Data Services</a></h3>
        <p class="govuk-body">Get accurate, reliable and interoperable data to power digital exploitation efforts.</p>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">Tech for Digital Teams</a></h3>
        <p class="govuk-body">Get cloud-based collaboration and work management tools for digital delivery teams.</p>
      </div>

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">


  {# Buying technology and getting help with delivery #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="get-involved">Buying technology and getting help with delivery</h2>
        <p class="govuk-body-l govuk-body--secondary">Procurement frameworks and delivery support.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">Defence Commercial</a></h3>
        <p class="govuk-body">How to buy technology and find people to help deliver digital products and services across Defence.</p>
      </div>

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">


  {# Spend controls and assurance #}
  <div class="govuk-!-padding-top-8 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1" id="get-involved">Spend controls and assurance</h2>
        <p class="govuk-body-l govuk-body--secondary">Assurance for technology spending and digital services.</p>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">Spend control</a></h3>
        <p class="govuk-body">When and how to get approval to spend money on digital and technology.</p>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="#0">Service Standard and assessments</a></h3>
        <p class="govuk-body">Check if you need to follow the Service Standard or get a service assessment.</p>
      </div>

    </div>

  </div>


</div>

{% endblock %}
