/* -------------------------------- 

Title: Base

-------------------------------- */

html {
  background-color: govuk-colour("light-grey");
}


body {
  background-color: govuk-colour("white");
  margin: 0;
  padding: 0;
}
