/* -------------------------------- 

Title: Contact

-------------------------------- */

.moduk-contact {
  background-color: govuk-colour("light-grey");
  margin-top: govuk-spacing(7); 
  padding: govuk-spacing(6);
}