$govuk-font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
$govuk-brand-colour: #512B45;
$govuk-fonts-path: "../fonts/";


// GOV Frontend styles
@import "node_modules/govuk-frontend/govuk/all";


// MOD Styles and extension overrides
@import "moduk/all";


// MOD Components
@import "components/do-dont-list/do-dont-list";
@import "components/steps/steps";
@import "components/contents-list/contents-list";
@import "components/cards/cards";
@import "components/feedback/feedback";
